<h1 class="h3 mb-2 text-gray-800">操作記錄</h1>
<div class="mb-4 mr-4">
    <div *ngIf="message" class="alert alert-primary alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="close" (click)="message = null" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <form id="filterForm" method="post">
        	<h6 class="m-0 font-weight-bold text-primary">
	            <div class="row">
	                 <div class="col-sm-5">
	                    <div class="form-group">
	                        <label class="control-label" for="queryUsername">登入帳號</label>
	                        <input type="text" name="queryUsername" id="queryUsername" class="form-control" [(ngModel)]="queryUsername" />
	                    </div>
	                </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-5">
                       <div class="form-group">
                           <label class="control-label" for="queryActionedAt">登入時間</label>
                           <input type="text" name="queryActionedAt" id="queryActionedAt"
                                class="form-control datepicker mb-2 mr-sm-2" 
                                placeholder="YYYY-MM-DD" 
                                [(ngModel)]="queryActionedAt" />
                       </div>
                   </div>
	            </div>
		        <div class="row">
		            <div class="col-sm-12">
			            <button class="btn btn-success mb-2" (click)="onQuery()">查詢</button>
			            <button class="btn btn-info ml-2 mb-2" (click)="onReset()">清除</button>
	                </div>
	            </div>
        	</h6>
        </form>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="dataTable"  class="table table-bordered table-striped" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th width="10%">序號</th>
                        <th>登入帳號</th>
                        <th width="20%">登入時間</th>
                        <th>登入IP</th>
                        <th>登入狀態</th>
                        <th>失敗原因</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>