@charset "utf-8";
/* CSS Document */
/*rwd 框架*/
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
    padding: 15px 5px;
    float:left;
}
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
 *zoom: 1;
}
body {
  font-size: 1em;
  color: #333 !important;
  font-family: "微軟正黑體" !important;
  position: relative;
  background-color:#efefef;
}
body a {
  transition: all 200ms ease-out;
  color: #3153ba;
}
.into a {
  position: absolute;
  z-index: 99;
  color: rgba(255, 255, 255, 0);
}
.into a:focus {
  color: #000;
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 1000px;
}
.row {
  margin:0!important;
}

body .login {
  padding: 3rem;
  display:block;
  position:relative;
  box-shadow: 0px 0px 15px #ccc;
  border-radius:10px;
  margin: 3rem 0;
  background-color:#FFF;
}
body .login p {
  text-align:center;
  font-size:120%;
  margin-bottom:30px;
  color:#777;
}
body .login .logo {
  display:block;
  text-align:center;
  margin-bottom:30px;
}
body .login .logo img {
  max-width: 400px;
  width: 100%;
}
body .login div {
  margin-bottom: 8px;
  /* position: relative; */
  padding: 0;
}
body .login label {
    margin: 0;
    font-weight: normal;
    display: inherit;
}
body .login .num {
    padding: 0 140px 0 0;
}
body .login .num .pic, body .login .num input[type=button] {
    position: absolute;
}
body .login .num input[type=button] {
    right: 0;
    top: 0;
}
body .login .num .pic {
    right: 42px;
    top: 0;
}
body .login input {
    border-radius: 5px;
    border: 1px #cacaca solid;
    width: 100%;
    padding: 5px 10px;
}
body .login .send input {
    color: #fff;
    border:none;
    font-weight:bold;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3c72b9+0,2e5792+99 */
background: #3c72b9; /* Old browsers */
background: -moz-linear-gradient(top,  #3c72b9 0%, #2e5792 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #3c72b9 0%,#2e5792 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #3c72b9 0%,#2e5792 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c72b9', endColorstr='#2e5792',GradientType=0 ); /* IE6-9 */
}
body .login .send input:hover {
  background:#01a5ae;
}
body .login .num input[type=button] {
    text-indent: -9999px;
    background-image: url(../images/num_re.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    background-color: transparent;
    border: none;
    transition: all 200ms ease-out;
}
body .login .num input[type=button]:hover {
  opacity:0.5;
}
body .login .fast_box ul li{
    width: 50%;
    float: left;
    padding: 0;
    text-align: center;
    padding: 0 2px 4px 2px;
}
body .login .send div {
  padding:0 !important;
  margin:0;
}
body .login .send .bt01 {
  padding-right:4px !important;
  margin:0;
}
body .login .send .bt02 {
  /* padding-left:4px !important; */
  margin:8px 0 0 0;
  text-align: center;
  display: block;
}
body .login .send .bt01 input[type=submit] {
  margin-right:5px;
  background:#0b8089 !important;
}
body .login .send .bt02 input[type=submit] {
  margin-right:5px;
  background:#0c7980 !important;
}
body .login .send .bt01 input[type=submit]:hover,
body .login .send .bt02 input[type=submit]:hover {
  background:#01a5ae !important;
}
body .login .send .bt02 ul {
  list-style-type:none;
  position:relative;
  margin: auto;
  padding:0;
  display: inline-block;
}
body .login .send .bt02 img {
  width:100%;
  height: 26px;
}
body .login .send .bt02 li {
  padding: 0 4px !important;
  text-align:center;
  width: inherit;
  float: left;
}
body .login .send .bt02 li:first-child {
  /* padding:0 0 0 0 !important; */
}
body .login .send .bt02 li a {
  display: flex;
  /* padding: 10px; */
  border-radius:5px;
  width: 40px;
  height: 40px;
  align-items: center;
}
body .login .send .bt02 li a:hover {
  background:#01a5ae !important;
}
body .login .send .bt02 li:nth-child(1) a {
  background-color:#3a559f;
}
body .login .send .bt02 li:nth-child(2) a {
  background-color:#da3e24;
}
body .login .send .bt02 li:nth-child(3) a {
  background-color:#00b900;
}
body .point {
  font-size: 80%;
  color: #795548;
  margin-top:5px;
}
body .reg {
  display:block;
  text-align:center;
  padding-top: 0rem !important;
  border-top: 1px solid #e2e2e2;
  margin-top: 0rem;
}
@media screen and (max-width: 575px) {
body .login {
  padding: 3rem 2rem;
}
body .login .send .bt01 {
  padding-right:0px !important;
  margin-bottom:8px;
}
body .login .send .bt02 {
  padding-left:0px !important;
}
body .login .send input ,
body .login .send .bt02 li a {
  padding:8px;
}
}