<input id="toggle-all" class="toggle-all" type="checkbox" [checked]="toggleAllBtn" (click)="toggleAll()">
<label for="toggle-all">Mark all as complete</label>
<ul class="todo-list">
    <li *ngFor="let item of currentTodoList; let i=index;" [class]="{completed: item.value, editing: item.editing}">
        <div class="view">
            <input class="toggle" type="checkbox" (click)="clickCheck(item)" *ngIf="item.canEdit" [checked]="item.value">
            <label (dblclick)="edit(item)">{{item.name}}</label>
            <button (click)="modalShow(item)" *ngIf="item.canEdit" class="destroy2">i</button>
            <button class="destroy" (click)="delete(item)" *ngIf="item.canEdit"></button>
        </div>
        <input class="edit" [(ngModel)]="item.name" #editInput (keyup.enter)="update(item)" (blur)="update(item)"
            (mouseenter)="editInput.focus()" *ngIf="item.editing">
    </li>
</ul>
<app-todo-info-modal [todo]="nowSelectTodo" #modal></app-todo-info-modal>